.navbar {
    padding: 20px 0;
    border: 0;
    font-weight: 300;
    border-radius: 0;
}
.navbar-light .navbar-brand {
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}