.banda-sidebar-container {
    margin-bottom: 20px;
    padding-right: 0;
    padding-left: 0;
}

#banda-sidebar {
    a  {
        color: $brand-secondary;
    }
    ul.banda-nav {
        li.banda-nav-section-title {
            padding: 10px 10px;
            font-weight: 400;
            margin-top: 20px;
        }
        ul.banda-nav-section {
            li {
                a {
                    display: block;
                    padding: 10px 10px 10px 15px;
                    width: 100%;
                    font-weight: 300;
                }
            }
        }
    }
    // Needs .nav to make scrollspy work, but don't want nav styles
    .nav {
        li {
            a {
                float: none;
            }
        }
    }
}

@media (min-width: 544px) {
    #banda-sidebar ul.banda-nav li.banda-nav-section-title, #banda-sidebar ul.banda-nav ul.banda-nav-section li a {
        padding-left: 0;
    }
}


@media (max-width: 545px) {
    .entries-sidebar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        background-color: $white;
        width: 100%;
        z-index: 200;
        overflow-x: hidden;
        transition: left 0.5s ease;
        &.active {
            left: 0;
        }
    }
}