.banda-sidebar-container {
    margin-bottom: 20px;
    padding-right: 0;
    padding-left: 0;
}
#banda-sidebar {
    a {
        color: $brand-secondary;
    }
    ul.banda-nav {
        li.banda-nav-section-title {
            padding: 10px 10px;
            font-weight: 800;
        }
        ul.banda-nav-section {
            li {
                a {
                    display: block;
                    padding: 10px;
                    width: 100%;
                }
            }
        }
    }
    // Needs .nav to make scrollspy work, but don't want nav styles
    .nav {
        li {
            a {
                float: none;
            }
        }
    }
}