/* ==|====================
   Layout/Footer
   ======================= */

.l-footer {
    padding: 60px 0 40px;
    background-color: $brand-primary;
}

.footer-menu {
    text-align: center;
    ul {
        list-style: none;
    }
    li {
        display: inline-block;
        a {
            padding: 5px 10px;
            font-size: small;
        }
    }
}