/* ==|====================
   Layout/Footer
   ======================= */

.l-footer {
    padding: 60px 0 40px;
    background-color: $brand-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: white;
    ul {
        list-style: none;
    }
    li {
        display: inline-block;
        list-style: none;
        a {
            padding: 5px 10px;
            font-size: small;
            color: white;
        }
    }
    a {
        color: white;
    }
    .top {
        background-image: url(../../img/up.svg);
        width: 42px;
        height: 32px;
        display: block;
        margin-left: auto;
        text-align: center;
        margin-right: auto;
        background-size: 20px;
        background-repeat: no-repeat;
        transition: background-image 0.5s ease-out;
        &:hover {
            background-image: url(../../img/up_fill.svg);
        }
    }
}