
// Bootstrap variable overrides


//  General variables

$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;
 

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
$font-family-sans-serif: 'Open Sans',Verdana,Arial,Helvetica,sans-serif;
$headings-font-family: 'Open Sans',Verdana,Arial,Helvetica,sans-serif;
$font-family-base: $font-family-sans-serif;

// Colors
$brand-primary: #93EEC1;
$brand-secondary: #12271a;
$grey: #e0eae5;
$white: #ffffff;

// Buttons
$btn-primary-color: $brand-secondary;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $brand-primary;

// jumbotron

$jumbotron-bg: lighten($grey, 6%);


// Navbar
 $navbar-default-bg: $brand-primary;
 $navbar-default-border: $brand-primary;
 $navbar-default-brand-color: $brand-secondary;
 $navbar-default-link-color: $brand-secondary;

// Link Colors
 $link-color:            $brand-secondary !default;
 $link-decoration:       none !default;
 $link-hover-color:      darken($link-color, 15%) !default;
 //$link-hover-decoration: none !default;

 a {
   color: $link-color;
 }
 .container {
  position: relative;
 }