
// Bootstrap variable overrides


//  General variables

$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;


// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
$font-family-sans-serif: 'Open Sans',Verdana,Arial,Helvetica,sans-serif;
$headings-font-family: 'Open Sans',Verdana,Arial,Helvetica,sans-serif;
$font-family-base: $font-family-sans-serif;

// Colors
$brand-primary: #93EEC1;
$brand-secondary: #12271A;
$grey: #E0EAE5;
$white: #FFF;

// Buttons
$btn-primary-color: $brand-secondary;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $brand-primary;

// jumbotron

$jumbotron-bg: lighten($grey, 6%);


// Navbar
$navbar-default-bg: $brand-primary;
$navbar-default-border: $brand-primary;
$navbar-default-brand-color: $brand-secondary;
$navbar-default-link-color: $brand-secondary;

// Link Colors
$link-color: $brand-secondary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
//$link-hover-decoration: none !default;

a {
    color: $link-color;
}
.container {
    position: relative;
}

@media (min-width: 1200px) {
  .container {
      max-width: 980px;
  }
}