/* ===========================
    Base:

    Base rules are the defaults. 
    They are almost exclusively single element selectors but it could include attribute selectors, pseudo-class selectors, child selectors or sibling selectors. Essentially, a base style says that wherever this element is on the page, it should look like this.

    Examples of Base Styles
    html, body, form { margin: 0; padding: 0; }
    input[type=text] { border: 1px solid #999; }
    a { color: #039; }
    a:hover { color: #03C; }
   =========================== */

html {
    font-size: 16px;
}

section {
    padding-top: 50px;
}

p {
    margin-bottom: 1em;
    letter-spacing: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6875;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}
body {
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0;
    font-weight: bold;
    line-height: 1.38462;

    -webkit-font-smoothing: antialiased;
}
hr {
    margin: 3rem 0;
    border-top: 1px dotted rgba(black, .1);
}

::selection {
    background: rgba($brand-primary, .3);  /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: rgba($brand-primary, .3); /* Gecko Browsers */
}